<!-- blog.njk -->


<div class="section front-section bg-light height-md  ">
  <div class="container ">
<div class="col-xs-12">
  
    <h2 class="fluid-5-l mb-64 text-center">Últimos posts</h2>
  
      <ul role="list" class="list-clear grid-1-2-4 ">
        {% for post in collections.post | reverse %}
  
  
          {% include 'templates/blog-loop.njk' %}
        {% endfor %}
      </ul>
</div>
  </div>
</div>