<!-- content_3.njk -->
<section class="bg-color inview " data-scroll-section>  
  <div class="container  pb-64">
    <div class="row sm:reverse   ">
      <div class="col-xs-12 front-text mb-40  border-20 ar-16-9">

        <div class="parallax-layer " data-depth="0.10"></div>
      </div>
      <div class="col-xs-12  front-text  align-middle">
        <div class="fluid-6-b mb-24  ">
          {% call insert.splitenpalabras(hookfraseimagen) %} {% endcall %}
        </div>
      </div>
    </div>
</section>