<!-- contacta_1.njk -->
contacta1 

<div id="contacta" class="front-section" data-scroll-section>   
    <section class="container-5">
        <div class="row  ptr-120 pbr-120 md:reverse">
            <div class="col-xs-12 col-md-6 pt-16">
                <form name="contactformulario" method="POST" action="/confirmacion.html" data-netlify="true"   netlify-honeypot="bot-field">
                    <p class="hidden">
                        <label>
                         <input name="bot-field" />
                        </label>
                      </p>
                    <div class="row">
                        <div class="col-xs-12 mb-16 ">
                            <div class="form-input-label-2">
                                <input id="nombre" type="text" placeholder="Nombre" class="input" name="nombre">
                                <label for='nombre'>Nombre</label>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-16 ">
                            <div class="form-input-label-2">
                                <input id="email" type="text" placeholder="Email" class="input" name="email" required
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                <label for='email'>email</label>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-16 ">
                            <div class="form-input-label-2">
                                <input id="telefono" type="text" placeholder="Teléfono" class="input" name="teléfono">
                                <label for='email'>teléfono</label>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-16 ">
                            <div class="form-input-label-2">
                                <textarea id="textarea" placeholder="Tu mensaje" class="textarea" name="mensaje"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 mb-24">
                            <label>
                                <input type="checkbox" name="politicas" required>
                                Acepto las políticas de la web0
                            </label>
                        </div>
                        <div class="col-xs-12 mb-16 ">
                            <button aria-label="enviar email" class="btn btn-primary btn--full" type="submit">         {{global_index.banner_button}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-6 mb-32 ">
                <div class="fluid-5-l mb-24 ">
         {{global_index.banner_title}}
                </div>
                <div class="fluid-9-r mb-24">
                    {{global_index.banner_text}}
                </div>
                <div class="fluid-7-r mb-24">
                    {{global_index.banner_claim}}
                </div>
                <div class="mb-16 p-1"><a  href="mailto: {{global_index.email}}"> {{global_index.email}}</a></div>
                <div class="mb-16">T.{{global_index.telefono}}</div>
            </div>
        </div>
    </section>
</div>