<!-- content_text.njk -->
<section class="bg-color inview ">
  <div class="container  pb-64">
    <div class="row sm:reverse   ">
      <div class="col-xs-7 front-text mb-40  border-20 mb-32">
        <div class="fluid-7-b"> {{content_text_title1 | mdbr}}</div>
        <div class="fluid-8-r"> {{content_text_subtitle1 | mdbr}} </div>
      </div>
      <div class="col-xs-12  front-text   column-container pbr-120">
{{content_text_text1 | mdbr}}
      </div>
      <div class="col-xs-7  front-text mb-32  ">
        <div class="fluid-7-b">  {{content_text_title2 | mdbr}} </div>
        <div class="fluid-8-r"> {{content_text_subtitle2 | mdbr}}  </div>
      </div>
      <div class="col-xs-12 column-container">
        {{content_text_text2 | mdbr}}
      </div>
    </div>
</section>