<!-- content_1.njk -->
<section  class="bg-color " data-scroll-section>
<div class="container  pb-64">
content_1
      <div class="row  smmax:reverse    ">
        <div class="col-xs-12 col-sm-6 front-text  align-middle">
          <div class="wmax-450 mx-auto">
            <h1 class="h5 mb-24  "> {{ whytitle1_title | mdbr | safe }}</h1> 
            <h1 class="h2 mb-24  "> {{ whytitle1_subtitle | mdbr | safe }}</h1> 
            <h1 class="h4  "> {{ whytitle1_description | mdbr | safe }}</h1> 
          </div>
      </div>
  
  
  
      <div class="col-xs-12 col-sm-6 front-text mb-32 sm:mb-0 ar-1-1">

 
     <div class="ar-1-1 o-hidden p-relative">
      <img  class="parallax-image c-image" data-scroll data-scroll-speed="-3" src="/assets/static/images/casa1.jpg" alt="">


     </div>



      </div>



</div>

</section>