<!-- content_4.njk -->
<section  class="bg-color " data-scroll-section>

      <div class="row  smmax:reverse    ">
        <div class="col-xs-12 col-sm-6 front-text  align-middle ">
          <div class="wmax-450 mx-auto text-left">
            <h1 class="fluid-18-r mb-24 c-accent  "> {{ whytitle1_title | mdbr | safe }}</h1> 
            <h1 class="fluid-7-r mb-24  "> {{ whytitle1_subtitle | mdbr | safe }}</h1> 
            <h1 class="fluid-9-r  "> {{ whytitle1_description | mdbr | safe }}</h1> 
          </div>
      </div>
  
  
  
      <div class="col-xs-12 col-sm-6 front-text mb-32 sm:mb-0 ar-1-1">

 

      <img  class="parallax-image c-image" data-scroll data-scroll-speed="-1" src="/assets/static/images/casa1.jpg" alt="">


 



      </div>



</div>

</section>