<!-- content_2.njk -->
<section class="bg-color " data-scroll-section >
  <div class="container  pb-64">
    
        <div class="row   ">


    
          <div class="col-xs-12 col-sm-6 front-text mb-32 sm:mb-0 ">
            <img width="100%" src="/assets/static/images/casa1.jpg" alt="">
          </div>
    
    

          <div class="col-xs-12 col-sm-6 front-text  align-middle">
            <div class="wmax-450 mx-auto">
              <h1 class="fluid-5-l mb-24  "> {{ whytitle2_title | mdbr | safe }}</h1> 
              <h1 class="fluid-7-r mb-24  "> {{ whytitle2_subtitle | mdbr | safe }}</h1> 
              <h1 class="fluid-9-r  "> {{ whytitle2_description | mdbr | safe }}</h1> 
    
            </div>
        </div>
    
    

  
  </div>
  
  </section>