<!-- footer.njk -->
<footer class=" front-section  bg-dark has-light   " data-scroll-section >   
  <div class="container mx-auto  pt-64 pb-64 ">
    <div class="row text-12-r ">
      <div class="col-xs-12 col-sm-3  mb-16">
        <div class="fluid-8-r mb-16">

          {{global.footer_1}}

        </div>
        <div class="text-14-r mb-16">
          {{global.footer_2}}

        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        {{global.footer_3}}


      </div>
      <div class="col-xs-12 col-sm-6    text-right mb-16">
        <a href="/legal/aviso" class="fluid-7-r"> {{global.footer_4}} </a>
      </div>
    </div>
    </div>
</footer>