<!-- introBenefits.njk -->
<section class="bg-color pbr-120 " data-scroll-section>  
    <div class="row pb-64 pt-64 inview">
      <div class="col-xs-12 text-center">
        <div class="fluid-9-b">
          {% call insert.splitenpalabras(introbenefits_subtitle ) %} {% endcall %}
        </div>
        <div class="fluid-5-l">
          {% call insert.splitenpalabras(introbenefits_title ) %} {% endcall %}
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center mb-64 sm:mb-0"> <img class="mb-16" src="/assets/static/images/icon1.svg" alt="">
        <div class="h4 mb-8 pb-16 ">{{introbenefits_1title}} </div>
        <hr>
        <div class="pt-8">{{introbenefits_1description}} </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center  mb-64 sm:mb-0"><img class="mb-16" src="/assets/static/images/icon2.svg" alt="">
        <div class="h4 mb-8 pb-16">{{introbenefits_2title}} </div>
        <hr>
        <div class="pt-8">{{introbenefits_2description}} </div>
      </div>
      <div class="col-xs-12 col-sm-4 text-center  mb-64 sm:mb-0"><img class="mb-16" src="/assets/static/images/icon3.svg" alt="">
        <div class="h4 mb-8 pb-16">{{introbenefits_3title}} </div>
        <hr>
        <div class="pt-8">{{introbenefits_3description}} </div>
      </div>




    </div>
  </div>
</section>