<!-- servicios.njk -->
<section class="bg-color pbr-64 ptr-64">
  <div class="container-2 mb-64">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4 class="fluid-9-b ">
          Nuestros Servicios </h4>
        <h2 class="fluid-5-l  pb-20">
          {{servicios or 'servicios'}}
        </h2>
        <p class="fluid-9-r">
          {{servicio1 or 'servicio1'}}
        </p>
      </div>
    </div>
  </div>
  <div class="container-global mx-auto   ">
    <div class="row">
      <div class="col-xs-12  col-sm-4  flex-column is-flex text-center  mb-24">
        <div class="icon-wrapper align-center mb-16">
          <img src="/assets/static/images/icon.svg" alt="">
        </div>
        <div class="fluid-9-b mb-16 "> {{servicio1_title or 'servicio1_title'}} </div>
        <div class="fluid-9-r ">{{servicio1_content or 'servicio1_content'}} </div>
      </div>
      <div class="col-xs-12  col-sm-4  flex-column is-flex text-center mb-24">
        <div class="icon-wrapper  mb-16"> <img src="/assets/static/images/icon.svg" alt=""> </div>
        <div class="fluid-9-b mb-16 "> {{servicio2_title or 'servicio2_title'}} </div>
        <div class="fluid-9-r ">{{servicio2_content or 'servicio2_content'}} </div>
      </div>
      <div class="col-xs-12  col-sm-4  flex-column is-flex text-center  mb-24">
        <div class="icon-wrapper align-center mb-16"> <img src="/assets/static/images/icon.svg" alt=""> </div>
        <div class="fluid-9-b mb-16 "> {{servicio3_title or 'servicio3_title'}} </div>
        <div class="fluid-9-r ">{{servicio3_content or 'servicio3_content'}} </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12  col-sm-4  flex-column is-flex   text-center  mb-24">
        <div class="icon-wrapper align-center mb-16">
          <img src="/assets/static/images/icon.svg" alt="">
        </div>
        <div class="fluid-9-b mb-16 "> {{servicio4_title or 'servicio4_title'}} </div>
        <div class="fluid-9-r ">{{servicio4_content or 'servicio4_content'}} </div>
      </div>
      <div class="col-xs-12  col-sm-4  flex-column is-flex   text-center mb-24">
        <div class="icon-wrapper align-center mb-16"> <img src="/assets/static/images/icon.svg" alt=""> </div>
        <div class="fluid-9-b mb-16 "> {{servicio5_title or 'servicio5_title'}} </div>
        <div class="fluid-9-r ">{{servicio5_content or 'servicio5_content'}} </div>
      </div>
      <div class="col-xs-12  col-sm-4  flex-column is-flex   text-center  mb-24">
        <div class="icon-wrapper align-center mb-16"> <img src="/assets/static/images/icon.svg" alt=""> </div>
        <div class="fluid-9-b mb-16 "> {{servicio6_title or 'servicio6_title'}} </div>
        <div class="fluid-9-r ">{{servicio6_content or 'servicio6_content'}} </div>