<!-- team_1.njk -->



<div class="container-2 ptr-120">
    <div class="row  text-center pb-64">
        <div class="col-xs-12 mb-24">
            <div class="fluid-9-b ">{{team1_title}} </div>
            <div class="fluid-5-l ">{{team1_subtitle}}
            </div>
        </div>
        <div class="col-xs-12">
            <span class="text-16-r">

              {{team1_descripción}}
            </span>
        </div>
    </div>
</div>
<div class="container-5 pbr-120">
    <div class="row">



      {% for team in global.team %}
      <div class="col-xs-4">
        <img width="100%" src="/assets/static/images/{{team.team_img}}" alt="">
        <div class="pt-16">
            <div class="text-14-b">
          {{team.team_position}}

            </div>
            <div class="fluid-9-r">
              {{team.team_name}}


            </div>
        </div>
    </div>
    {% endfor %}

    </div>
</div>