<!-- why.njk -->
<section class="bg-color" data-scroll-section>
  <div class="container-global mx-auto pt-64 pb-64   ">
    <div class="row  align-middle  ">
      <div class="col-xs-12 col-sm-6 front-text  align-middle">
        <div class=" ">
          <div class="vertical-wrap mb-24">
            <div class="vertical-inner">
              <h1 class="fluid-5-l mb-24  "> {{ whytitle3_title | mdbr | safe }}</h1> 
              <h1 class="fluid-7-r mb-24  "> {{ whytitle3_subtitle | mdbr | safe }}</h1> 
              <h1 class="fluid-9-r  "> {{ whytitle3_description | mdbr | safe }}</h1> 
            </div>
          </div>
  
  
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img width="100%" src="/assets/static/images/casa1.jpg" alt="">

      </div>

    </div>
  </div>
</section>