---
layout: layout/base.njk
colorHeader: has-light-menu
---



{% set noheroimage = [] %}
{% import global_index.base_modules+"_macros/_insert.njk" as insert %}
{% import "macros/_insert.njk" as insert %}




<div class="main-article">
  {% include 'templates/introCta_1.njk' %}
Landing1
  {% include "templates/introBenefits.njk" %}

  {% include "templates/why.njk" %}
  {% include "templates/benefits_1.njk" %}
  {% include "templates/servicios.njk" %}

  <div class="container-fluid bg-color">
    
    {% include "templates/content1.njk" %}
    {% include "templates/content2.njk" %}
    {% include "templates/content3.njk" %}

    {% include "templates/content_text.njk" %}
    {% include "templates/features1.njk" %}

    {% include "templates/team1.njk" %}



    {% include "templates/blog.njk" %}

  </div>
  {% include "templates/faqs.njk" %}
  {# {% include "templates/contacta_1.njk" %} #}
  {% include "templates/contacta_1.njk" %}
</div>