---
layout: layout/base.njk
colorHeader: has-light-menu
---

{% set noheroimage = [] %}



{% import global_index.base_modules+"_macros/_insert.njk" as insert %}

<div class="main-article has-light-menu">
  {% include 'templates/introCta_1.njk' %}
  {{global.url}} <br>
  {{global_index.base_modules}}
  <div class="container-fluid bg-color">
    boilerplate
  </div>
</div>

