<!-- benefits_2.njk -->
<section class="bg-dark pbr-120 ptr-120" data-scroll-section>   
  <div class="container-global-3 mx-auto   ">

<div class="row pbr-120">
  <div class="col-xs-12 text-center has-light">
    <h5 class="h5 c-accent mb-16"> {{global_index.introbenefits_title}} </h5>
    <h2 class="h2 ttu">{{global_index.introbenefits_subtitle}} </h2>
  </div>
</div>


    <div class="container-global-4 mx-auto">
      <div class="row has-light">
        <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
          <div class="p1 "><div class="fluid-9-r mb-24"> {{global_index.introbenefits_1title}} </div>  {{global_index.introbenefits_1description}}
          </div>
        </div>
           <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top  mb-24">
      
          <div class="p1"><div class=" mb-24 fluid-9-r"> {{global_index.introbenefits_2title}}</div>  {{global_index.introbenefits_2description}}</div>
        </div>
           <div class="col-xs-12  col-sm-4  flex-column is-flex  align-top   mb-24">
      
          <div class="p1"><div class=" mb-24 fluid-9-r"> {{global_index.introbenefits_3title}}</div> {{global_index.introbenefits_3description}}</div>
        </div>
      </div>
    </div>
  </div>
</section>