<!-- introBenefits_2.njk -->
<section class="bg-color  ptr-120 pbr-120 front-section o-hidden " data-scroll-section>
  <div class="watermark">


    <div class="mb-16" data-delay="0"><img width="100%" src="/assets/static/images/logohospi.png" alt="" ></div>
      
  </div>
  <div class="container-global-3  mx-auto   ">
    <div class="row mb-32  inview">
      <div class="col-xs-12 col-lg-11 ">
        <div class="text-18-r c-accent mb-24">
          {{global_index.introbenefits2_subtitle}}
        </div>
        <div class="h3 ">
          {{ global_index.introbenefits2_content }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6"></div>
      <div class="col-xs-11 col-lg-3">
        <div class="p1">
          {{global_index.introbenefits2_subcontent}}
        </div>
      </div>

      <div class="col-xs-11 col-lg-3">
        <div class="p1">
          {{global_index.introbenefits2_subcontent2}}
        </div>
      </div>
    </div>
  </div>
</section>